{% load wagtailcore_tags wagtailimages_tags %}

<div class="w-11/12 mx-auto flex flex-col gap-y-2 extra_content text-white">
    {% for block in value %}
        {% if block.block_type == "heading"%}
            <div class="text-6xl">{{ block.value }}</div>
        {% elif block.block_type == "cover_image" %}
            {% image block.value original as img %}
            <div class="min-h-80 -mx-[5%]"><img class="object-cover w-full" src="{{ img.url }}" alt="{{ img.alt }}"></div>
        {% else %}
            <div>
                {{ block }}
            </div>
        {% endif %}

    {% endfor %}

</div>
