{% load static %}
<div class="grid grid-cols-1 w-full items-center">
    <div class="flex justify-center">
        <button id="toggleFilterButton" type="button"
                class="bg-bf2042-4 rounded p-2 text-default-bg font-bold hover:!bg-bf2042-3 transition duration-200 ease-in-out"
                onclick="hideAllFilters()">Show Filters
        </button>
    </div>
    
    <div class="grid grid-cols-1 gap-y-4 max-w-fit justify-self-center bg-card-bg rounded-lg mt-4">
        {% with label_class="flex flex-col gap-y-2.5 font-bold text-white" text_input_class="bg-default rounded ring-0 border-0 focus:ring-0 placeholder:font-light" %}
            <div id="filtersContainer" class="flex flex-col gap-y-7 px-4 py-2"> <!-- todo: add invisible class -->
                <form name="searchFilter" action="./" method="get">
                <!-- exp name and creator -->
                <div class="flex flex-row flex-grow gap-x-16 flex-wrap gap-y-2 w-fit">
                    <!-- todo: make this responsive -->
                    <div class="{{ label_class }}">
                        <div class="flex flex-row gap-x-2">
                            <img width="20" height="16" src="{% static 'svgs/filter/exp_name.svg' %}">
                            Experience Name
                        </div>
                        <label>
                            <input name="experience" id="experienceNameInput" class="{{ text_input_class }}" placeholder="Experience Name"
                                   type="text">
                        </label>
                    </div>
                    <div class="{{ label_class }}">
                        <div class="flex flex-row gap-x-2">
                            <img width="14" height="16" src="{% static 'svgs/filter/creator.svg' %}">
                            Experience creator name
                        </div>
                        <label>
                            <input name="creator" id="creatorNameInput" class="{{ text_input_class }}"
                                   placeholder="Experience creator name" type="text">
                        </label>
                    </div>
                </div>
                <!-- cats -->
                <div class="{{ label_class }}">
                    <div class="flex flex-row gap-x-2">
                        <img width="20" height="16" src="{% static 'svgs/filter/library_icon.svg' %}">
                        Categories
                    </div>
                    <div id="categoriesContainer" class="flex flex-row flex-wrap gap-x-4">
                        {#                    <label class="text-sm text-white flex flex-row items-center gap-x-1">#}
                        {#                        <input name="category" type="checkbox" class="rounded border-2 border-bf2042-4 bg-default text-bf2042-4 shadow-none mr-1 focus:ring focus:ring-offset-0 focus:ring-bf2042-4 focus:ring-opacity-0"> <!-- todo fix check color -->#}
                        {#                        Solo#}
                        {#                    </label>#}
                    </div>
                </div>
                <!-- tags -->
                <div class="{{ label_class }}">
                    <div class="flex flex-row gap-x-2">
                        <img width="14" height="16" src="{% static 'svgs/filter/tag.svg' %}">
                        Tags
                    </div>
                    <div class="flex flex-row gap-x-8 items-center">
                        <label>
                            <input id="tagsInput" name="tags" type="text" class="{{ text_input_class }}" placeholder="Search tags">
                        </label>
                        <div class="max-w-[30rem]">
                            <div id="tagsContainer" class="flex flex-row flex-wrap gap-x-2"></div>
                        </div>
                    </div>

                </div>
                <!-- date -->
                <div class="{{ label_class }}">
                    <div class="flex flex-row gap-x-2">
                        <img width="14" height="16" src="{% static 'svgs/filter/date.svg' %}">
                        Date
                    </div>
                    <div class="flex flex-row flex-wrap gap-x-4 items-center">
                        <label>
                            <input id="fromDate" name="fromDate" type="date" class="{{ text_input_class }} font-light text-[#42464e]">
                        </label>
                        <p>To</p>
                        <label>
                            <input id="toDate" name="toDate" type="date" class="{{ text_input_class }} font-light text-[#42464e]">
                        </label>
                    </div>
                </div>
            </div>
        {% endwith %}
        <div id="mainBtn" class="flex flex-row p-2 flex-wrap mx-2">
            <div class="flex flex-row text-sm grow">
                <div class=" bg-hover-bg-light flex flex-row gap-x-2 items-center rounded text-white px-2 py-1">
                    <label for="sort_by">
                        Sort By
                    </label>
                    <select class="bg-card-bg rounded  text-sm text-white px-2 py-2 focus:ring-0 border-0 hover:bg-default" id="sort_by" name="sort_by">
                        <option value="latest" selected>Latest</option>
                        <option value="like">Like Count</option>
                    </select>
                </div>
            </div>

            <div class="flex gap-x-4 justify-self-end font-bold">
                <button id="filtersClear" type="button" class="text-bf2042-6 rounded hover:text-bf2042-5">Clear</button>
                <input type="submit" id="filtersApply" value="Apply" class="text-bf2042-4 rounded hover:text-bf2042-5"/>
            </div>
        </div>
    </div>
    </form>
    <script defer src="{% static 'js/filters_helper.js' %}?v=1" type="text/javascript"></script>
</div>
