{% load static %}
<div class="grid grid-cols-1 w-full items-center">
    <div class="grid grid-cols-1 gap-y-4 max-w-fit justify-self-center bg-[#2a2929] p-2 rounded-lg mt-4">
        <div id="filtersContainer" class="invisible flex min-w-fit divide-x divide-bf2042-3">
            <div class="mix-w-max max-h-fit pr-2">
                <div id="filterNameList" class="flex flex-col bg-card-bg divide-y divide-bf2042-3 gap-y-1 p-2 rounded-md shadow-[0_0_10px_#000000]">
                    <div id="tagsInputLabel" class="flex text-white items-center md:whitespace-nowrap"> Tags</div>
                    <div id="catsInputLabel" class="flex text-white items-center md:whitespace-nowrap">Categories</div>
                    <div id="experienceInputLabel" class=" flex text-white items-center md:whitespace-nowrap">Experience Name</div>
                    <div id="dateInputLabel" class=" flex text-white items-center md:whitespace-nowrap">Date</div>
                    <div id="userInputLabel" class=" flex text-white items-center md:whitespace-nowrap">User</div>
                </div>
            </div>
            <div id="filterInputList" class="flex flex-col divide-y divide-bf2042-3 gap-y-1 p-2">
                <div id="tagsInput" class="flex flex-wrap gap-x-4 items-center">
                    <div id="tagsInputHolder" class="flex flex-wrap gap-x-4 md:gap-x-none md:grid md:grid-cols-3 items-center divide-bf2042-3"></div>
                    <label>
                        <input id="tagSearchInput" type="text" class="bg-card-bg border-none focus:ring-0 rounded-md text-bf2042-4" placeholder="Tags">
                        <svg id="tagsSearchSpinner" role="status" class="hidden inline-block w-8 h-8 mr-2 text-bf2042-6 animate-spin fill-bf2042-4" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                    </label>
                </div>
                <div  id="catsInput" class="flex flex-wrap gap-x-4 align-middle"></div>
                <label id="experienceInput" for="experienceNameInput" class=" text-white min-w-max">
                    <input id="experienceNameInput" type="text" class="bg-card-bg border-none focus:ring-0 leading-none text-bf2042-4 rounded-md mt-1 max-w-full box-border	" placeholder="Experience Name">
                </label>
                <div id="dateInput" class="flex flex-row flex-wrap gap-x-4">
                    <div>
                        <span class="text-gray-400"> From </span>
                        <label>
                            <input id="dateFrom" type="date" class="bg-card-bg border-none focus:ring-0 leading-none text-bf2042-4 rounded-md mt-1">
                        </label>
                    </div>
                    <div>
                        <span class="text-gray-400"> To </span>
                        <label>
                            <input id="dateTo" type="date" class="bg-card-bg border-none focus:ring-0 leading-none text-bf2042-4 rounded-md mt-1">
                        </label>
                    </div>
                </div>
                <label id="userInput" for="userNameInput" class="text-white min-w-max">
                    <input id="userNameInput" type="text" class="bg-card-bg border-none focus:ring-0 leading-none text-bf2042-4 rounded-md mt-1" placeholder="Username">
                </label>
            </div>
        </div>
        <div class="flex gap-x-2 grow bg-card-bg rounded p-2">
            <div class="grow">
                <button id="hideFilterButton" type="button" class="text-bf2042-4 hover:text-bf2042-5" onclick="hideAllFilters()">Hide Filters</button>
            </div>
            <div id="mainBtn" class="flex flex-row gap-x-2">
                <button id="filtersApply" type="button" class="text-bf2042-4 rounded hover:text-bf2042-5">Apply</button>
                <button id="filtersClear" type="button" class="text-bf2042-6 rounded hover:text-bf2042-5">Clear</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/filters_helper.js' %}" type="text/javascript"></script>
</div>
