{% extends 'base.html' %}
{% load i18n static%}
{% block header %}
{% endblock %}
{% block title %}{% trans "Login :)" %}{% endblock %}
{% block content %}
<div class="absolute table text-white h-[90%] w-full left-0 top-0">
    <div class="table-cell align-middle">
            <div class="flex flex-col mx-auto w-max bg-card-bg py-4 rounded-lg px-2 md:px-16">
                <div class="text-3xl font-bold pb-4 text-center md:text-4xl">
                    {% blocktrans with provider.name as provider %}
                        Sign In Via
                        <span class="text-bf2042-4"> {{ provider }}</span>
                    {% endblocktrans %}
                </div>
            <div class="pb-4 flex flex-col gap-y-8">
                <p class="text-xs md:text-sm font-medium">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
                <div class="mx-auto bg-bf2042-4 w-[56px] h-[55px] flex items-center justify-center rounded-full relative">
                    <img class="absolute m-auto left-[3px] right-0" width=36.72px height=28px src="{% static "svgs/discord_icon.svg" %}" alt=" ">
                </div>
                <form class="text-center" method="post">
                  {% csrf_token %}
                  <button class="px-4 py-2 text-bf2042-1 font-bold bg-bf2042-4 rounded-lg hover:bg-bf2042-6 transition duration-200 ease-in-out" type="submit">{% trans "Continue" %}</button>
                </form>
            </div>
            <div class="text-white text-sm font-medium text-center pt-4">
                Need a discord account ? <a href="https://discord.com/register" class="text-blue-400">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
