<div id="creatorsInputContainer" class="w-full flex flex-row items-center bg-card-bg h-9 text-white rounded">
    <div id="{{ html_id }}_on_deck" class="results_on_deck flex flex-row items-center gap-x-1"></div>
    <input class="w-full px-2 rounded bg-transparent border-0 focus:ring-0 disabled:bg-[#1f1f1f] placeholder:font-medium placeholder:text-sm"
           type="text" name="{{ name }}_text" id="{{ html_id }}_text" value="" autocomplete="off"
           placeholder="{{ name|capfirst }}" onkeydown="handleKeyDown(this, event)"/>
    <input type="hidden" class="bg-card-bg text-white" name="{{ name }}" id="{{ html_id }}" value="{{ current_ids }}"
           data-ajax-select="autocompleteselectmultiple" data-plugin-options="{{ data_plugin_options }}"/>
</div>

{% block extra_script %}
<script type="application/javascript">
    $("#{{html_id}}_on_deck").bind('added', function () {
        const $this = $(this);
        $this.children().last().show({
            duration: 100,
            start: function () {
                $this.children().last().css('display', 'flex')
            }
        })
        if(!$this.hasClass("ml-2")) $this.addClass("ml-2")
    })
    $("#{{html_id}}_on_deck").bind('killed', function () {
        const $this = $(this);
        if(!$this.children().length) $this.removeClass("ml-2")
    })

    const creators_input = $("#{{ html_id }}_text"),
        c = $("#creatorsInputContainer");
    creators_input.focus(function () { c.addClass("border-1/2 border-bf2042-4") })
    creators_input.focusout(function () { c.removeClass("border-1/2 border-bf2042-4") })

    let timesEmpty = 0;
    function handleKeyDown(elm, event){
        if(!elm.value && event.keyCode === 8) {
            const deck = $("#id_creators_on_deck"),
            children = deck.children();
            if(children.length){
                const c = children.last().children();

                //c.last is the label for creator
                //c.first is the trash icon (it's hidden by default)
                c.last().hide(100, function () {
                    c.first().click()
                })
            }
        }
    }
</script>
{% endblock %}

{% block help %}{% if help_text %}<p class="help">{{ help_text }}</p>{% endif %}{% endblock %}
