<div id="{{ name }}InputContainer" class="w-full flex flex-row items-center bg-card-bg min-h-9 text-white rounded flex-wrap">
    <div id="{{ html_id }}_on_deck" class="results_on_deck flex flex-row items-center gap-x-1 max-w-fit"></div>
    <input class="min-w-[30px] px-2 rounded bg-transparent border-0 focus:ring-0 disabled:bg-[#1f1f1f] placeholder:font-medium placeholder:text-sm"
                                               type="text" name="{{ name }}_text" id="{{ html_id }}_text" value="" autocomplete="off"
                                               placeholder="{{ name|capfirst }}" onkeydown="handleKeyDown(this, event)"/>
    <input type="hidden" class="bg-card-bg text-white" name="{{ name }}" id="{{ html_id }}" value="{{ current_ids }}"
           data-ajax-select="autocompleteselectmultiple" data-plugin-options="{{ data_plugin_options }}"/>
</div>
{% block extra_script %}
    <script type="application/javascript"> bindTriggers("{{ html_id }}") </script>
{% endblock %}

{% block help %}{% if help_text %}<p class="help">{{ help_text }}</p>{% endif %}{% endblock %}
