{% load static wagtailimages_tags %}
<div class="w-11/12 mx-auto grid grid-cols-1 justify-items-center">
    {% include 'core/pagination.html' with filters=True%}
    <div class="flex flex-wrap flex-row justify-center gap-x-3 gap-y-5">
        {% for post in posts %}
            <div class="static experience_container group block h-[30rem] w-96 bg-accent-bg rounded-lg scroll-mt-6 hover:shadow-xl hover:cursor-pointer hover:drop-shadow-bf2042-4 hover:-translate-y-2 transition duration-500 ease-in-out">
                <div class="m-2">
                    <div class="-m-2 drop-shadow-xl h-3/5">
                        <div class="h-72">
                            <img class="rounded-lg w-full h-full" src="{% if debug %} {% static "images/placeholder.png" %} {% else %} {{ post.cover_img_url }} {% endif %}" alt="{{ post.slug }}"  onerror="this.onerror=null;this.src={% static "images/placeholder.png" %}">
                        </div>
                        <div class="absolute top-0 left-0 flex flex-row flex-wrap p-2 gap-x-1">
                            {% for cat in post.categories.all %}
                                <a href="/experiences/?category={{ cat }}">
                                <p class="category_pill font-semibold oldstyle-nums font-sans border border-transparent rounded-lg px-2 hover:border hover:border-white" style="--category_pill_bg_color: {{ cat.bg_color }}; --category_pill_bg_hover_color: {{ cat.bg_hover_color }}; --category_pill_text_color: {{ cat.text_color }}; --category_pill_text_hover_color: {{ cat.text_hover_color }}">
                                    {% image cat.icon width-24 class="inline-block" %}
                                    {{ cat }}
                                </p>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="grid grid-cols-1 grid-flow-row mt-3 h-1/3 gap-y-2">
                        <a href="{{ post.url }}" class="main-link">
                            <div class="font-bold font-mono text-3xl text-white transition duration-500 ease-in-out ">
                                {{ post.title|title }}
                                {% if post.featured %}
                                    <img src="{% static 'images/icons/featured.png' %}" class="w-6 inline-block">
                                {% endif %}
                            </div>
                        </a>
                        <div class="text-gray-400 pb-4 h-12  text-ellipsis hover:shadow-bf2042-4 transition duration-200 ease-in-out overflow-hidden"><p>{{ post.description|truncatewords:15 }}</p></div>
                        <div class=" flex text-xs gap-x-2 pt-2 h-7 w-full overflow-hidden">
                            {% for tag in post.tags.all|slice:"0:5" %}
                                <a href="/experiences/?tag={{ tag }}" class="border bg-discord-light-dark whitespace-nowrap border-2 text-white border-1/2  border-card-bg rounded-lg px-2 py-0 mb-1  group-hover:bg-gray-600 group-hover:border-bf2042-3  hover:border-bf2042-3 hover:drop-shadow-bf2042-3 transition duration-100 ease-in ">
                                    {{ tag|title }}
                                </a>
                            {% endfor %}

                        </div>
                        <div class="flex gap-x-2 text-xs text-white">
                            Share code
                            <span class="text-bf2042-4 font-bold hover:text-bf2042-6 transition duration-200 ease-in-out clickable" onclick="copyDivToClipboard(this)">{{ post.code }}</span>
                            <span class="text-card-bg">[Click on code to copy]</span>
                        </div>
                        <div class="text-xs font-semibold text-gray-500 mt-1">
                            By
                            {% get_social_account post.owner as social_account %}
                            {% if social_account %}
                                <a href="/users/{{ social_account.extra_data|get_item:'id' }}" class="font-thin oldstyle-nums text-bf2042-3 hover:text-bf2042-6">{{social_account.extra_data.username}}</a>
                            {% else %}
                                {{post.owner}}
                            {% endif %}
                            On {{post.first_published_at}}</div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    {% if posts.paginator.num_pages > 1 %}
        {% include 'core/pagination.html' %}
    {% endif %}
</div>

<script>
    const cards = document.querySelectorAll(".experience_container");
    [...cards].forEach(card => {
            const mainLink = card.querySelector(".main-link");
            const clickableElements = Array.from(card.querySelectorAll("a, .clickable"));
            //we are using 'a' here for simplicity but ideally you should put a class like 'clickable' on every clickable element inside card(a, button) and use that in query selector

            clickableElements.forEach((ele) =>
                ele.addEventListener("click", (e) => e.stopPropagation())
            );

            function handleClick(event) {
                const noTextSelected = !window.getSelection().toString();

                if (noTextSelected) {
                    mainLink.click();
                }
            }
            card.addEventListener("click", handleClick);
    });
</script>
<script>
    function copyDivToClipboard(elem) {
        let range = document.createRange();
        range.selectNode(elem);
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect
        elem.nextElementSibling.textContent = "[Copied!!]";

    }
</script>