{% load static wagtailimages_tags %}
<div class="w-11/12 mx-auto grid grid-cols-1 justify-items-center gap-y-4">

    {% if not disable_filters_and_pagination %}
        {% include 'core/blocks/filters.html' %}
        {% if posts.paginator.num_pages > 20 %}
            {% if posts.paginator.num_pages > 1 %}
                {% include 'core/blocks/pagination.html' %}
            {% endif %}
        {% endif %}
    {% endif %}

    <div class="flex flex-wrap {% if trending_section %}overflow-y-hidden h-[26.5rem] pt-2 justify-items-start ml-[3.125rem]{% else %} justify-center {% endif %} flex-row gap-x-3 gap-y-5">
        {% for post in posts %}
            <div class="grow-0 relative experience_container group block h-[26rem] w-64 bg-card-bg rounded-lg scroll-mt-6 hover:bg-bg-default hover:cursor-pointer hover:-translate-y-2 transition duration-200 ease-in-out">
                <div class="m-2">
                    <!-- cover image -->
                    <div class="-m-2 h-3/5 relative">
                        <div class="h-48">
                            <div class="w-full h-full">
                                <img class="w-full h-full object-cover rounded-t-lg" src='{% if debug %}{% static "images/placeholder.png" %}{% else %}{% if post.cover_img_url %}{{ post.cover_img_url }}{% else %}{% static "images/placeholder.png" %}{% endif %}{% endif %}' alt="{{ post.slug }}"/>
                            </div>
                            <!-- like count -->
                            {% if post.bugged %}
                                <div class="absolute bottom-0 inset-x-0 w-full h-20 bugged" style="--alert-svg: url('{% static 'svgs/card/red_alert_bg.svg' %}') "></div>
                                <div class="absolute bottom-0 flex flex-row gap-x-1 mb-1 ml-1 text-xs">
                                    <img width="14" height="14" src="{% static 'svgs/card/Alert.svg' %}">
                                    <p class="align-bottom text-white">Experience Bugged</p>
                                </div>
                            {% endif %}
                            <div id="like-count-{{ post.id }}" class="absolute -bottom-0.5 right-0 w-min-14 pl-6 pr-2.5 pt-1.5 text-white text-sm group-hover:bg-bg-default duration-200 clickable fav-container" style="--rect-url: url('{% static 'svgs/card-fav-rect.svg' %}');" onclick="add_to_liked(this)">
                                <div class="flex flex-row gap-2 font-medium pb-1.5">
                                    <p id="fav-count-{{ post.id }}" class="{% if post.likes == 0 %} hidden {% endif %}">{{ post.likes }}</p>
                                    {% if post|is_liked_by_user:request %}
                                    <img id="like-svg-{{ post.id }}" class="block" src="{% static 'svgs/card/heart_liked.svg' %}" alt="non">
                                    {% else %}
                                    <img id="like-svg-{{ post.id }}" class="block" src="{% static 'svgs/card/heart_not_liked.svg' %}" alt="non">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- info -->
                    <div class="grid grid-cols-1 grid-flow-row mt-3 h-1/3">
                        <!-- cats -->
                        <div class="flex flex-row flex-wrap gap-x-1 mb-2">
                            <a class="clickable" href="/experiences/?category={{ post.category }}">
{#                                <img class="inline" src="{% get_static_prefix %}svgs/cats/main/{{ post.category|lower }}.svg">#}
                                <p class="text-bf2042-4 text-xs inline hover:text-bf2042-6"> {{ post.category|capfirst }}</p>
                            </a>
                        </div>
                        <!-- title -->
                        <a href="{{ post.url }}" class="main-link">
                            <div class="font-semibold text-xl text-white h-9 w-full truncate">
                                {% if post.featured %}
                                    <img src="{% static 'svgs/cats/featured.svg' %}" class="inline">
                                {% elif post.sub_categories.all|hasCategory:"Jam" %}
                                    <img src="{% static 'svgs/cats/sub/portal_jam.svg' %}" class="inline">
                                {% endif %}
                                {{ post.title|title }}
                            </div>
                        </a>
                        <!-- desc -->
                        <div class="font-medium text-white h-12 w-max-52 text-xs text-ellipsis"><p class="pr-6">{{ post.description|truncatechars:75 }}</p></div>

                        <!-- Share code -->
                        <div class="flex flex-col mt-4">
                        {% if post.category == "Prefab" %}
                            <div class="bg-bf2042-4 font-bold w-min px-6 py-2.5 mx-auto rounded-lg hover:bg-bf2042-6 transition duration-200 ease-in-out">
                                <p>Edit</p>
                            </div>
                            <p class="text-[8px] text-white mx-auto pt-1 font-semibold">{{ post.code }}</p>
                        {% else %}
                        {% with post.code as share_code %}
                            {% if share_code|length %}
                                <div class="bg-bf2042-4 font-bold w-min px-6 py-2.5 mx-auto rounded-lg hover:bg-bf2042-3 transition duration-200 ease-in-out clickable" onclick="copyDivToClipboard(this)">
                                    <p>{{ post.code }}</p>
                                </div>
                            {% endif %}
                            {% if post.exp_url|length %}
                                <p class="text-[8px] text-white mx-auto pt-1 font-semibold">Editable
                                <img class="inline" src="{% static 'svgs/card/open_link.svg' %}">
                                </p>
                            {% endif %}
                        {% endwith %}
                        {% endif %}

                        </div>
                        <!-- owner info -->
                        <div class="absolute flex inset-x-0 bottom-1.5">
                            <div class="mx-auto text-xs font-medium text-white">
                                By
                                {% get_social_account post.owner as social_account %}
                                {% if social_account %}
                                    <a href="/users/{{ social_account.extra_data|get_item:'id' }}" class="font-thin oldstyle-nums text-bf2042-4 hover:text-bf2042-6">{{social_account.extra_data.username}}</a>
                                {% else %}
                                    {{post.owner}}
                                {% endif %}
                                On {{post.first_published_at}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    {% if not disable_filters_and_pagination %}
        {% if posts.paginator.num_pages > 1 %}
            {% include 'core/blocks/pagination.html' %}
        {% endif %}
    {% endif %}
</div>

{% if not no_js %}
    <script>
        const cards = document.querySelectorAll(".experience_container");
        [...cards].forEach(card => {
                const mainLink = card.querySelector(".main-link");
                const clickableElements = Array.from(card.querySelectorAll("a, .clickable"));
                //we are using 'a' here for simplicity but ideally you should put a class like 'clickable' on every clickable element inside card(a, button) and use that in query selector

                clickableElements.forEach((ele) =>
                    ele.addEventListener("click", (e) => e.stopPropagation())
                );

                function handleClick(event) {
                    const noTextSelected = !window.getSelection().toString();

                    if (noTextSelected) {
                        mainLink.click();
                    }
                }
                card.addEventListener("click", handleClick);
        });
    </script>
    <script>
        function copyDivToClipboard(elem) {
            let range = document.createRange();
            range.selectNode(elem);
            window.getSelection().removeAllRanges(); // clear current selection
            window.getSelection().addRange(range); // to select text
            document.execCommand("copy");
            window.getSelection().removeAllRanges();// to deselect
            elem.nextElementSibling.textContent = "[Copied!!]";

        }
        function add_to_liked(elem){
            const id = elem.id.split('-').pop();
            fetch(`/api/like/${id}/`).then(
                function (resp) {
                    return resp.json()
                }
            ).then(function (data) {
                const elem = document.getElementById(`fav-count-${id}`),
                    like_svg = document.getElementById(`like-svg-${id}`)
                if (elem.textContent && data > elem.textContent) {
                    like_svg.src = "{% static 'svgs/card/heart_liked.svg' %}"
                } else {
                    like_svg.src = "{% static 'svgs/card/heart_not_liked.svg' %}"
                }
                elem.textContent = data
                if (elem.textContent === "0"){
                    elem.classList.remove("block")
                    elem.classList.add("hidden")
                } else {
                    elem.classList.add("block")
                    elem.classList.remove("hidden")
                }
            })
        }
    </script>
{% endif %}
