{% load template_filters %}
{% load static wagtailimages_tags %}
<div class="w-11/12 mx-auto grid grid-cols-1 justify-items-center {% if trending_section %} md:justify-items-start {% endif %} gap-y-4">

    {% if not disable_filters_and_pagination %}
        {% include 'core/blocks/filters.html' %}
    {% endif %}
    <div class="flex flex-wrap justify-center {% if trending_section %}overflow-y-hidden h-[26.5rem] pt-2  md:ml-[3.125rem]{% else %}experience_container{% endif %} justify-items-start flex-row gap-x-3 gap-y-5">
        {% for post in posts %}
            <div class="grow-0 relative experience_card {% if not trending_section %}experience{% endif %} group block h-[26rem] w-64 bg-card-bg rounded-lg scroll-mt-6 hover:bg-bg-default hover:cursor-pointer hover:-translate-y-2 transition duration-200 ease-in-out">
                <div class="m-2">
                    <!-- cover image -->
                    <div class="-m-2 h-3/5 relative">
                        <div class="h-48">
                            <div class="w-full h-full">
                                <img
                                        loading="lazy"
                                        class="w-full h-full object-cover rounded-t-lg"
                                        src='{% if debug %}{% static "images/placeholder.png" %}{% else %}{% if post.cover_img_url %}{{ post.cover_img_url }}{% else %}{% static "images/placeholder.png" %}{% endif %}{% endif %}'
                                        alt="{{ post.slug }}"
                                        onerror='if(this.src !== "{% static "images/placeholder.png" %}") this.src="{% static "images/placeholder.png"%}";'
                                />
                            </div>
                            <!-- like count -->
                            {% if post.bugged %}
                                <div class="absolute bottom-0 inset-x-0 w-full h-20 bugged" style="--alert-svg: url('{% static 'svgs/card/red_alert_bg.svg' %}') "></div>
                                <div class="absolute bottom-0 flex flex-row gap-x-1 mb-1 ml-1 text-xs">
                                    <img width="14" height="14" src="{% static 'svgs/card/Alert.svg' %}">
                                    <p class="align-bottom text-white">Experience Bugged</p>
                                </div>
                            {% endif %}
                            <div like_count_container="{{ post.id }}" class="absolute -bottom-0.5 right-0 w-min-14 pl-6 pr-2.5 pt-1.5 text-white text-sm group-hover:bg-bg-default duration-200 clickable fav-container" style="--rect-url: url('{% static 'svgs/card-fav-rect.svg' %}');" onclick="add_to_liked(this)">
                                <div class="flex flex-row gap-2 font-medium pb-1.5">
                                    <p fav_count_container="{{ post.id }}" class="{% if post.likes == 0 %} hidden {% endif %}">{{ post.likes }}</p>
                                    {% if post|is_liked_by_user:request %}
                                    <img like_svg="{{ post.id }}" class="block" src="{% static 'svgs/card/heart_liked.svg' %}" alt="non">
                                    {% else %}
                                    <img like_svg="{{ post.id }}" class="block" src="{% static 'svgs/card/heart_not_liked.svg' %}" alt="non">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- info -->
                    <div class="grid grid-cols-1 grid-flow-row mt-3 h-1/3">
                        <!-- cats -->
                        <div class="flex flex-row flex-wrap gap-x-1 mb-2">
                            <a class="clickable" href="/experiences/?category={{ post.category }}">
{#                                <img class="inline" src="{% get_static_prefix %}svgs/cats/main/{{ post.category|lower }}.svg">#}
                                <p class="text-bf2042-4 text-xs inline hover:text-bf2042-6"> {{ post.category|capfirst }}</p>
                            </a>
                        </div>
                        <!-- title -->
                        <a href="{{ post.url }}" class="main-link">
                            <div class="font-semibold text-xl text-white h-9 w-full truncate">
                                {% if post.featured %}
                                    <img src="{% static 'svgs/cats/featured.svg' %}" class="inline">
                                {% elif post.sub_categories.all|hasCategory:"Jam" %}
                                    <img src="{% static 'svgs/cats/sub/portal_jam.svg' %}" class="inline">
                                {% endif %}
                                {{ post.title }}
                            </div>
                        </a>
                        <!-- desc -->
                        <div class="font-medium text-white h-12 w-max-52 text-xs text-ellipsis overflow-hidden"><p class="pr-6">{{ post.description|truncatechars:75|show_markdown|safe }}</p></div>

                        <!-- Share code -->
                        <div class="flex flex-col mt-4 clickable">
                        {% if post.category|lower == "prefab" %}
                            <div
                                    class="bg-bf2042-4 font-bold max-w-fit px-6 py-2.5 mx-auto rounded-lg hover:bg-bf2042-3 transition duration-200 ease-in-out"
                                    copy-data="{{ post.exp_url }}"
                                    onclick="copyDivToClipboard(this)"
                                    copy-state="normal"
                            >
                                <p class="flex flex-row gap-x-1"><img src="{% static 'svgs/pages/prefab.svg' %}" alt=" " class="brightness-0 saturate-100 w-min"/>Copy</p>
                            </div>
                        {% else %}
                            {% if post.code|length %}
                                <div
                                        class="bg-bf2042-4 font-bold w-min px-6 py-2.5 mx-auto rounded-lg hover:bg-bf2042-3 transition duration-200 ease-in-out clickable"
                                        copy-data="{{ post.code|upper }}"
                                        onclick="copyDivToClipboard(this)"
                                        copy-state="normal"
                                >
                                    <p>{{ post.code|upper }}</p>
                                </div>
                            {% endif %}
                            {% if post.exp_url|length %}
                                <p class="text-[8px] text-white mx-auto pt-1 font-semibold">Editable
                                <img class="inline" src="{% static 'svgs/card/open_link.svg' %}">
                                </p>
                            {% endif %}
                        {% endif %}

                        </div>
                        <!-- owner info -->
                        <div class="absolute inset-x-0 bottom-1.5 overflow-x-clip">
                            <div class="flex mx-auto text-xs font-medium text-white justify-center gap-x-1 whitespace-nowrap">
                                By
                                {% get_social_account post.owner as social_account %}
                                {% if social_account %}
                                    <div class="flex flex-row max-w-[90px] overflow-clip">
                                        <a href="/users/{{ social_account.extra_data|get_item:'id' }}" class="font-medium oldstyle-nums text-bf2042-4 hover:text-bf2042-6 overflow-clip">{{social_account.extra_data.username}}</a>
                                    </div>
                                {% else %}
                                    <p>{{post.owner}}</p>
                                {% endif %}
                                {% if post.creators.count == 0  %}
                                On {{post.first_published_at}}
                                {% else %}
                                    <div class="flex flex-row  shrink-0 gap-x-1">
                                    {% for creator in post.creators.all %}
                                        {% get_social_account creator as social_account %}
                                        {% if social_account %}
                                             <p>, </p><a href="/users/{{ social_account.extra_data|get_item:'id' }}" class="font-medium oldstyle-nums text-bf2042-4 hover:text-bf2042-6 shrink-0">{{social_account.extra_data.username}}</a>
                                        {% else %}
                                            , {{ creator }}
                                        {% endif %}

                                    {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    {% if not disable_filters_and_pagination %}
        {% if posts.has_next %}
            <a class="more_button text-white" href="?page={{ posts.next_page_number }}">Load More...</a>
        {% endif %}
        <svg id="more_loading_spinner" class="hidden inline-block w-8 h-8 mr-2 text-card-bg animate-spin fill-bf2042-4" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"></path>
        </svg>
    {% endif %}


{#    {% if not disable_filters_and_pagination %}#}
{#        {% if posts.paginator.num_pages > 1 %}#}
{#            {% include 'core/blocks/pagination.html' %}#}
{#        {% endif %}#}
{#    {% endif %}#}
</div>

{% if not no_js %}
    <script>
        defer(function experience_listing_defer(){
            $(document).ready(function() {
                new Waypoint.Infinite({
                    element: $(".experience_container")[0],
                    items:  ".experience",
                    more: ".more_button",
                    onBeforePageLoad: function () {
                        $("#more_loading_spinner").show()
                    },
                    onAfterPageLoad: function () {
                        $("#more_loading_spinner").hide()
                        const url = new URL(window.location);
                        let page_str = url.searchParams.get("page"),
                            page = 0;
                        if(page_str === null || page_str === "NaN"){
                            page = 1
                        } else {
                            page = parseInt(page_str) + 1
                        }
                        url.searchParams.set("page", `${page}`)
                        window.history.pushState("", "", url.search);
                    }
                })
                // todo: find a way to load items when scrolling up
            });
        })

        const cards = document.querySelectorAll(".experience_card");
        [...cards].forEach(card => {
                const mainLink = card.querySelector(".main-link");
                const clickableElements = Array.from(card.querySelectorAll("a, .clickable"));
                //we are using 'a' here for simplicity, but ideally you should put a class like 'clickable' on every clickable element inside card(a, button) and use that in query selector

                clickableElements.forEach((ele) =>
                    ele.addEventListener("click", (e) => e.stopPropagation())
                );

                function handleClick(event) {
                    const noTextSelected = !window.getSelection().toString();

                    if (noTextSelected) {
                        mainLink.click();
                    }
                }
                card.addEventListener("click", handleClick);
        });

        async function copyDivToClipboard(elem) {
            const container_div = $(elem);
            if (container_div.attr('copy-state') === "normal"){ // only run when the inner html is set correctly
                const old_html = container_div.html(),
                    state_class = "bg-bf2042-5 hover:bg-bf2042-5";

                container_div.attr('copy-state', "copy");
                await navigator.clipboard.writeText(container_div.attr('copy-data')).then(
                    () =>{
                        container_div.addClass(state_class);
                        container_div.text("Copied")
                        setTimeout(function ()  {
                            container_div.fadeOut(200, function () {
                                container_div.html(old_html).fadeIn(1000);
                                container_div.attr('copy-state', "normal")
                            })
                            container_div.removeClass(state_class);
                        }, 1000);
                    }, () => {
                        console.log("Copy Failed");
                        container_div.attr('copy-state', "normal")
                    }
                )
            }
        }
    </script>
{% endif %}
