{% extends "base.html" %}
{% load template_filters %}
{% load wagtailcore_tags static embed_video_tags wagtailimages_tags %}
{% block content %}
    <div class="flex flex-col text-white gap-y-8 mb-4">
        <div class="w-full h-80 max-h-80 relative">
            <img class="w-full h-full object-cover"
                 src='
                         {% if debug %}{% static "images/placeholder.png" %}{% else %}{% if page.cover_img_url %}{{ page.cover_img_url }}{% else %}{% static "images/placeholder.png" %}{% endif %}{% endif %}'
                 alt="{{ page.slug }}"
                 onerror='if(this.src !== "{% static "images/placeholder.png" %}") this.src="{% static "images/placeholder.png"%}";'
            />
            <div like_count_container="{{ page.id }}"
                 class="absolute bottom-0 right-0 w-min-14 pl-8 pr-2.5 pt-1.5 fav-container"
                 style="--rect-url: url('{% static 'svgs/card-fav-rect.svg' %}'); background-color: #121212"
                 onclick="add_to_liked(this)">
                <div class="flex flex-row gap-2 font-medium pb-1.5 text-3xl">
                    <p fav_count_container="{{ page.id }}"
                       class="{% if page.likes == 0 %} hidden {% endif %}">{{ page.likes }}</p>
                    <img like_svg="{{ page.id }}"
                         width="32" height="32"
                         src="
                                 {% if page|is_liked_by_user:request %}{% static 'svgs/card/heart_liked.svg' %}{% else %}{% static 'svgs/card/heart_not_liked.svg' %}{% endif %}"
                         alt=""
                    />
                </div>
            </div>
            {#            <div class="absolute w-full h-full top-0 bugged" style="--alert-svg: url('{% static 'svgs/card/red_alert_bg.svg' %}')"></div>#}
        </div>
        <div class="flex flex-col w-11/12 mx-auto rounded-xl p-4 gap-y-8">
            <!-- page title -->
            <div class="flex flex-row gap-x-4 items-center flex-wrap gap-y-2 relative w-full">
                <div id="reportButton" class="absolute top-1/2 -translate-y-1/2 right-0 text-sm font-bold cursor-pointer" style="display: none">
                    <p>Report</p>
                    <div id="reportButtonDropdown"
                         class="dropdown-content flex flex-col text-center text-md font-medium right-0 w-max rounded-lg absolute text-white invisible"
                    > <!--left-12 -->
                        <div class="flex flex-row justify-end pr-0.5">
                            <div class="w-0 h-0 border-x-8 border-b-8 border-solid border-transparent border-b-card-bg"></div>
                        </div>
                        <div class="flex flex-col bg-card-bg rounded">
                        <a class="text-white text-sm py-1 px-2 rounded-t bg-card-bg hover:bg-hover-bg-light transition ease-in-out duration-200" href="">Experience Bugged</a>
                        <a class="text-white text-sm py-1 px-2 rounded-t bg-card-bg hover:bg-hover-bg-light transition ease-in-out duration-200" href="">Experience Not Available</a>
                        <a class="text-white text-sm py-1 px-2 rounded-t bg-card-bg hover:bg-hover-bg-light transition ease-in-out duration-200" href="">XP Farm</a>
                        </div>
                    </div>
                </div>
                <script>addDropDownPair("reportButton", "reportButtonDropdown")</script>

                <div class="text-4xl font-bold">{{ page.title|title }}</div>
                {% if page.bugged %}
                    <div class="text-xs text-[#FF0000] flex flex-row flex-wrap items-center gap-x-1">
                        <img class="red-svg" src="{% static 'svgs/card/Alert.svg' %}" alt="">
                        <p class="self-end">Experience bugged</p>
                    </div>
                {% endif %}
                <div class="flex flex-row gap-x-1">
                    {% if page.owner == request.user %}
                        <a href="./edit" target="_blank">
                            <div class="text-xs min-w-fit md:text-sm flex flex-row flex-wrap items-center justify-center gap-x-1 bg-white px-4 py-1 rounded font-bold text-bf2042-1 hover:bg-bf2042-6 transition duration-200">
                                <img class="black-svg" src="{% static 'svgs/edit.svg' %}" alt="" width="17">
                                <p>Edit Page</p>
                            </div>
                        </a>
                    {% endif %}
                    {% if request.user|check_group:"Moderators" %}
                        <a href="/admin/pages/{{ page.pk }}/edit/" target="_blank">
                            <div class="text-xs min-w-fit md:text-sm flex flex-row flex-wrap items-center justify-center gap-x-1 bg-white px-4 py-1 rounded font-bold text-bf2042-1 hover:bg-bf2042-6 transition duration-200">
                                <img class="black-svg" src="{% static 'svgs/edit.svg' %}" alt="" width="17">
                                <p>Edit in Admin</p>
                            </div>
                        </a>
                    {% endif %}
                </div>

            </div>
            <!-- cats -->
            <a class="max-w-fit" href="/category/{{ page.category }}">
                <div class="text-bf2042-4 text-sm"><p>{{ page.category }}</p></div>
            </a>
            <!-- desc -->
            <div class="text-white text-sm font-medium">{{ page.description }}</div>
            <!-- tags -->
            <div class="flex flex-row flex-wrap	gap-x-2 gap-y-1">
                {% for tag in page.tags.all %}
                    <a href="/experiences/?tag={{ tag }}"
                       class="bg-discord-light-dark text-white text-xs font-medium rounded-lg px-2 py-1 hover:bg-card-bg transition duration-100 ease-in ">{{ tag|title }}</a>
                {% endfor %}
            </div>
            <!-- share code and url -->
            <div class="flex flex-row flex-wrap gap-x-4 gap-y-1">
                {% if page.code %}
                    <div class="bg-bf2042-4 px-4 py-1 rounded font-bold text-bf2042-1 hover:bg-bf2042-3 transition duration-200 ease-in-out selection:text-bf2042-6"
                         onclick="window.getSelection().selectAllChildren(this);"> {{ page.code|upper }}</div>
                {% endif %}
                {% if page.exp_url %}
                    <a href="{{ page.exp_url }}">
                        <div class="flex flex-row gap-x-1 bg-white px-4 py-1 rounded font-bold text-bf2042-1 hover:bg-bf2042-6 transition duration-200">
                            <img class="black-svg" src="{% static 'svgs/pages/prefab.svg' %}" alt="">
                            Edit
                        </div>
                    </a>
                {% endif %}
            </div>
            <!-- owners and update info -->
            <div class="flex flex-row gap-1 flex-wrap">
                <div class="text-white text-xs flex flex-row items-center gap-x-1">
                    <p class="text-bg-light">Created by</p>
                    {% with page.owner.socialaccount_set.all.0 as owner %}
                        <a href="/users/{{ owner.uid }}" class="flex flex-row gap-x-1 items-center">
                            <img class="rounded-full" width="15" height="15"
                                 src="{% if owner.extra_data.avatar %} {{ owner.get_avatar_url }} {% else %} {% static 'images/default_discord_avatar.png' %}{% endif %}"
                                 alt="pfp">
                            <p class="text-bf2042-4">{{ owner.extra_data.username }}</p>
                        </a>
                    {% endwith %}
                    {% for creator in page.creators.all %}
                        {% if creator.socialaccount_set.all|length %}
                            {% with creator.socialaccount_set.all.0 as account %}
                                <a href="/users/{{ account.uid }}" class="flex flex-row gap-x-1 items-center">
                                    ,<img class="rounded-full" width="15" height="15"
                                          src="{% if account.extra_data.avatar %} {{ account.get_avatar_url }} {% else %} {% static 'images/default_discord_avatar.png' %}{% endif %}"
                                          alt="pfp">
                                    <p class="text-bf2042-4">{{ account.extra_data.username }}</p>
                                </a>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="text-white text-xs flex flex-row items-center gap-x-1">
                    <p>on</p>
                    <p class="text-bf2042-4">{{ page.first_published_at }}</p>
                </div>
                <div class="text-bg-light text-xs flex flex-row items-center gap-x-1">
                    <p>last updated at</p>
                    <p class="text-white">{{ page.last_published_at }}</p>
                </div>
            </div>
            <!-- bots and players -->
            <div class="flex flex-row items-center gap-x-4">
                {% if page.no_players %}
                    <div class="flex flex-row gap-x-1 items-center text-sm brightness-100 saturate-0"><img
                            src="{% static 'svgs/submit/no_players.svg' %}" alt=""> {{ page.no_players }} </div>
                {% endif %}
                {% if  page.no_bots %}
                    <div class="flex flex-row gap-x-1 items-center text-sm brightness-100 saturate-0"><img
                            src="{% static 'svgs/submit/no_bots.svg' %}" alt=""> {{ page.no_bots }} </div>
                {% endif %}
            </div>

            <div id="mapsRotationContainer" class="flex flex-wrap flex-col gap-y-4 select-none">
                <div>
                    <button id="showMapsRotation"
                            class="bg-bf2042-4 text-bf2042-1 font-bold px-2 py-1 rounded hover:bg-bf2042-6 transition duration-200">
                        Show Map Rotation
                    </button>
                    <svg id="tagsSearchSpinner"
                         class="hidden inline-block w-8 h-8 mr-2 text-bf2042-6 animate-spin fill-bf2042-4"
                         viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                              fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                              fill="currentFill"/>
                    </svg>
                </div>
                <div id="mapsRotation" class="flex flex-wrap gap-2 relative">
                    <div id="maps_on_error" class="hidden text-sm font-bold text-[#FF0000]">Error Fetching Maps... Check
                        Experience Code or URL
                    </div>
                    {#                        <div class="h-40 w-[21.563rem] rounded-lg relative">#}
                    {#                            <img class="object-cover w-full h-full rounded-lg" src="https://portal.battlefield.com/1916651/assets/images/maps/Map_Art_BF2042_IRR_S.jpg" alt="test">#}
                    {#                            <div class="absolute bg-gradient-to-t from-black w-full h-full inset-x-0 bottom-0 rounded-b-lg p-2 flex">#}
                    {#                                <div class="flex flex-col font-bold text-base self-end">#}
                    {#                                    <div class="max-w-full h-6 truncate">Breakaway</div>#}
                    {#                                    <div class="max-w-full">Map Size <span>Large</span></div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div id="gameMode" class="absolute top-0 left-0 bg-card-bg ml-2 mt-2 px-2 rounded text-xs font-bold">CUSTOM</div>#}
                    {#                        </div>#}
                </div>
            </div>

            {% if page.vid_url|length > 0 %}
                <div class="w-full h-[21rem]">
                    {% video page.vid_url '100% x 100%' %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        let mapsShown = false;
        const showMapButton = $('#showMapsRotation');

        function toggleMapButtonLabel() {
            if (showMapButton.text() === "Show Maps Rotation") {
                showMapButton.text("Hide Maps Rotation");
            } else {
                showMapButton.text("Show Maps Rotation");
            }
        }

        showMapButton.on('click touch', function () {
            const val = $(this).text(),
                mapRotation = $('#mapsRotation');
            if (val === "Show Maps Rotation") {
                $(this).text("Hide Maps Rotation");
                mapRotation.show(200);
            } else {
                $(this).text("Show Maps Rotation");
                mapRotation.hide(200);
            }
            populateMapsRotation();
        });

        function populateMapsRotation() {
            const mapRotation = document.getElementById('mapsRotation'),
                tagsSpinner = $('#tagsSearchSpinner');
            if (!mapsShown) {
                tagsSpinner.show();
                const playgroundId = {% if page.exp_url %}"{{ page.exp_url | expCode }}"{% else %}null{% endif %},
                expCode = {% if page.code %}"{{ page.code }}"{% else %}null{% endif %};

                let queryParam;
                if (playgroundId) {
                    queryParam = `playgroundid=${playgroundId}`;
                } else if (expCode) {
                    queryParam = `experiencecode=${expCode}`
                }
                if (queryParam) {
                    fetch(`https://api.gametools.network/bf2042/playground/?${queryParam}`).then(resp => resp.json().then(resp_json => {
                        const error_div = $('#maps_on_error');
                        if (!resp_json.hasOwnProperty('errors')) {
                            error_div.css('display', 'none')
                            let maps = resp_json['validatedPlayground']['mapRotation']['maps'];
                            console.log(maps);
                            maps.forEach(function (map) {
                                const root = document.createElement('div'),
                                    img = document.createElement('img'),
                                    infoContainer = document.createElement('div'),
                                    info = document.createElement('div'),
                                    mapName = document.createElement('div');
                                root.className = "h-40 w-[21.563rem] rounded-lg relative";
                                img.className = "object-cover w-full h-full rounded-lg";
                                infoContainer.className = "absolute bg-gradient-to-t from-black w-full h-full inset-x-0 bottom-0 rounded-b-lg p-2 flex"
                                info.className = "flex flex-col font-bold text-base self-end";
                                mapName.className = "max-w-full h-6 truncate";
                                let mapSize;
                                if ("location" in map) {
                                    mapSize = document.createElement('div');
                                    const span = document.createElement('span'),
                                        location = map['location'];
                                    mapSize.className = "max-w-full";
                                    if (location === "ModBuilderCustom2") {
                                        span.textContent = "Large";
                                    } else if (location === "ModBuilderCustom1") {
                                        span.textContent = "Normal";
                                    } else {
                                        span.textContent = "Small";
                                    }
                                    mapSize.textContent = "Map Size "
                                    mapSize.appendChild(span);
                                }
                                let gameMode;
                                if ("mode" in map && map['mode'] !== "custom") {
                                    gameMode = document.createElement('div');
                                    gameMode.className = "absolute top-0 left-0 bg-card-bg ml-2 mt-2 px-2 rounded text-xs font-bold";
                                    $('#gameMode').text(map['mode']);
                                }
                                img.src = map['image'];
                                mapName.textContent = map['mapname'];
                                info.appendChild(mapName)
                                if (mapSize) {
                                    info.appendChild(mapSize);
                                }
                                infoContainer.appendChild(info);
                                root.appendChild(img);
                                root.appendChild(infoContainer);
                                mapRotation.appendChild(root);
                            })
                            mapsShown = true;
                            tagsSpinner.hide();
                            mapRotation.scrollIntoView();
                        } else {
                            tagsSpinner.hide()
                            error_div.css('display', 'block')
                        }

                    }))

                }
            }
        }
    </script>
    {#https://api.gametools.network/bf2042/playground/?playgroundid=45e436e0-4cf7-11ec-be7b-76c50778a53a#}
    {##}

{% endblock %}
