{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block title %}
    BF Portal Library
{% endblock %}
{% block content %}
    {% include 'core/experiences_listing.html'%}
    {% if not request.user.is_authenticated %}
        <iframe src="https://discord.com/widget?id=870246147455877181&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    {% endif %}

{% endblock %}
