{% extends "base.html" %}
{% load account socialaccount %}
{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% if request.user.is_authenticated  %}
        <h2>Hi {{social_user.extra_data.username}}#{{social_user.extra_data.discriminator}}</h2>
        <img src="{{social_user.get_avatar_url}}" alt="">
    {% else %}
        <h3><a href="{% provider_login_url 'discord' process='login' %}">Login Via discord</a></h3>
    {% endif %}

    {% for post in page.get_children %}
        {% if post.live %}
            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            {{ post.specific.intro }}
            {{ post.specific.body|richtext }}        
        {% endif %}
    {% endfor %}

{% endblock %}