{% extends "base.html" %}
{% load wagtailcore_tags widget_tweaks %}

{% block content %}
    <div class="w-9/12 mx-auto mb-8">
        <div class="flex flex-col gap-y-2">
            <form action="." method="POST">
                {% csrf_token %}
                <table class="expSubmitTable border-separate w-full">
                    {% for field in form %}
{#                        {% if forloop.counter0 == 1 %}#}
{#                            <tr>#}
{#                                <td class="font-bold text-2xl text-[#474747] text-center">-- or --</td>#}
{#                            </tr>#}
{#                        {% endif %}#}
                        <tr>
                            <td>
                                <div id="form-fields-container" class="flex flex-col gap-y-4">
                                    <div>
                                        <div class="inline-block text-bf2042-3">
                                            {{ field.label }}
                                            {% if field.field.required  %}
                                                <p class="inline-block text-red-500">*</p>
                                            {% endif %}
                                        </div>
                                        <p id="{{ field.auto_id  }}Reason" class="reasonP inline-block text-bf2042-2 mr-2"></p>
                                        <div class="inline-block">
                                            {% if field.help_text %}
                                                <label
                                                    class="
                                                    rounded-full
                                                    px-2 bg-black w-min text-bf2042-3
                                                    hover:text-blue-700 hover:cursor-help hover:bg-bf2042-5
                                                    transition duration-200 ease-in-out "
                                                    data-bs-toggle="tooltip" title="{{ field.help_text|safe }}">
                                                ?
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        {% if field.html_name == "categories" %}
                                                <ul id="cat-checkboxes" class="inline bg-default">
                                                {% for choice in form.categories.field.choices %}
                                                    <li class="inline text-white bg-default mt-0 px-0.5">
                                                        <label>
                                                            <input type="checkbox" class="form-checkbox appearance-none border border-red-300 rounded-sm bg-default checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 bg-no-repeat bg-center bg-contain mr-2 cursor-pointer" name="categories" value="{{choice.0}}"
                                                              {% if form.categories.data == choice.0 %}
                                                                 checked="checked"
                                                              {% endif %}/>
                                                            {{choice.1}}
                                                        </label>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                        {% else %}
                                            {% render_field field class="inline-block w-full  bg-default resize-y h-14 text-white mt-0 px-0.5 rounded rounded-lg border-0 border-b-2 border-gray-200 hover:bg-[#1f1f1f]  focus:ring-0 focus:bg-discord-dark  focus:border-bf2042-4 disabled:bg-[#1f1f1f]" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                {% if form.errors %}
                <ul class="user-msg error text-center border border-red-300 rounded-lg mb-8">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>
                          {% if field != '__all__' %}
                            <strong class="text-red-700">{{ field.label }}:</strong>
                          {% endif %}
                          <p class="inline-block text-red-400">{{ error }}</p>
                        </li>
                    {% endfor %}
                {% endfor %}
                </ul>
                {% endif %}
                <button type="submit" class="text-bf2042-4 font-bold hover:text-bf2042-1 bg-bf2042-1 rounded-lg px-2 py-1 hover:bg-bf2042-4 transition duration-300 ease-in-out">Submit Experience</button>
            </form>
            {% if is_edit %}
                <form action="../delete/" method="post">
                {% csrf_token %}
                <button class="max-w-fit text-bf2042-6 font-bold bg-bf2042-1 rounded-lg px-2 py-1 hover:bg-bf2042-4 transition duration-300 ease-in-out" type="submit" name="delete-exp" value="1">Delete Experience</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>

    </script>
{% endblock %}