@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MONTSERRAT";
    src: local('Montserrat'),
        url("../fonts/Montserrat/Montserrat-VF.ttf") format("truetype") tech('variation');
}
body {
    font-family: MONTSERRAT, sans-serif;
}

.fav-container {
    background-color: #262626;
    -webkit-mask-image: var(--rect-url);
    mask-image: var(--rect-url);
    mask-repeat: no-repeat;
    mask-size: auto 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0a0a0a;
  border-radius: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #26ffe0;
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}
/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: #011C26;
    border-radius: 0.5rem;
}
.scrollable::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 0.5rem;
}

.scrollable {
  scrollbar-width: thin;    /* "auto" or "thin" */
  scrollbar-color: #011C26 #303030;   /* scroll thumb and track */
}
.expSubmitTable {
    border-spacing: 0 1em;
}
