@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MONTSERRAT";
    src: local('Montserrat'),
    url("../fonts/Montserrat/Montserrat-VF.ttf") format("truetype") tech('variation');
}

body {
    font-family: MONTSERRAT, sans-serif;
}

.fav-container {
    background-color: #262626;
    -webkit-mask-image: var(--rect-url);
    mask-image: var(--rect-url);
    mask-repeat: no-repeat;
    mask-size: auto 100%;
}

.checkbox-check:checked {
    background-image: var(--check-svg-url);
}


.bugged {
    background-image: var(--alert-svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0a0a0a;
    border-radius: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #26ffe0;
    border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: #011C26;
    border-radius: 0.5rem;
}

.scrollable::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 0.5rem;
}

.scrollable {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #011C26 #303030; /* scroll thumb and track */
}

.expSubmitTable {
    border-spacing: 0 1em;
}

.catsHolder {
    margin-left: -9px;
}

@media (min-width: 768px) {
    .catsHolder {
        display: grid;
        row-gap: 0;
        column-gap: 5px;
        grid-template-columns: repeat(3, minmax(138px, max-content));
    }
}

ul.ui-widget.ui-widget-content {
    background-color: theme('colors.card-bg');
    color: white;
    border: 0;
    /*display: block !important;*/
}

.ui-menu-item {
    color: white;
}

a.ui-menu-item-wrapper span {
    color: white;
}

a.ui-menu-item-wrapper.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: theme("colors.hover-bg-light");
    border: 0;

}

#id_creators_on_deck div, #id_tags_on_deck div {
    margin: 0;
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #36393f;
    padding: 3px 7px 3px 7px;
    border-radius: 0.25rem;
}
#id_creators_on_deck div .ui-icon-trash, #id_tags_on_deck div .ui-icon-trash{
    display: none;
}
.tooltip {
    display: none;
}

.tooltip[data-show] {
  display: block;
}


.tooltip-arrow,
.tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.tooltip-arrow {
  visibility: hidden;
}

.tooltip-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > .tooltip-arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .tooltip-arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .tooltip-arrow {
  left: -4px;
}

.black-svg {
    filter: brightness(0) saturate(100%);
}
.red-svg {
    filter: brightness(0) saturate(100%) invert(15%) sepia(76%) saturate(5742%) hue-rotate(360deg) brightness(90%) contrast(128%);
}
