{% extends "base.html" %}

{% load static %}
{% block extra_content %}{% endblock %}

{% block title %}Page not found{% endblock %}

{% block body_class %}404{% endblock %}

{% block content %}
    <div class="flex flex-col w-3/4 m-auto gap-y-8 items-center">
        <img src="{% static "images/404.png" %}" alt=" ">
        <div class="flex flex-row content-end gap-x-2 font-extrabold text-white">
            <div class="self-end">Don’t be sad, this is just how it works out sometimes...</div>
            <img class="pb-[6px]" width="50" src="{% static 'images/angel.png' %}" alt=" ">
        </div>
        <input type="button" class="bg-bf2042-4 text-bf2042-1 font-bold hover:bg-bf2042-6 hover:cursor-pointer px-4 py-2 rounded transition duration-200 ease-in-out" value="Go Back" onclick="window.history.go(-1); return false;" />

    </div>
{% endblock %}
