{% load template_filters %}
{% load static wagtailcore_tags wagtailimages_tags account socialaccount tailwind_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href={% static "images/fav.gif" %}>
    <meta property="og:title" content="{{ page.title|title }}"/>
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bfportal.gg">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:title" content="{{ page.title|title }}">
    {% if request.user.is_authenticated and page %}
        {% if page.is_experience_page %}
            <meta property="og:description" content="{{ page.description }}"/>
            <meta name="description" content="{{ page.description }}"/>
            <meta property="og:image" content="{{ request|get_opg_image_url:page }}"/>
            <!-- Twitter Meta Tags -->
            <meta name="twitter:description" content="{{ page.description }}">
            <meta name="twitter:image" content="{{ request|get_opg_image_url:page }}">
        {% else %}
            <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}">
            <meta name="twitter:image" content="{{ request|get_opg_image_url:page }}">
            <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}"/>
            <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}"/>
            <meta property="og:image" content= "{{ request|get_opg_image_url:page }}"/>
        {% endif %}
    {% else %}
            <meta name="twitter:description" content="Battlefield Portal Library">
            <meta name="twitter:image" content="{{ request|get_opg_image_url }}">
            <meta name="description" content="Share & Find experiences made on portal.battlefield.com"/>
            <meta property="og:description" content="Share & Find experiences made on portal.battlefield.com"/>
            <meta property="og:image" content= "{{ request|get_opg_image_url }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block preload_media %}{% endblock %}
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% tailwind_css %}
    <script type="text/javascript" src="{% static 'js/preload.js' %}"></script>
    <script type="text/javascript">
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function toggleDropdown(id) {
        const drpDown = document.getElementById(id)
        drpDown.classList.toggle("invisible");
        drpDown.style.opacity = '0%';
        drpDown.style.top = '0rem';
        anime({
            targets: `#${id}`,
            opacity: '100%',
            top: '2rem',
            easing: 'easeOutQuint',
            duration: "200"
        });

    }

    function addDropDownPair(buttonID, menuID) {
        const button = document.getElementById(buttonID),
            menu = document.getElementById(menuID);

        if(button) {
            button.addEventListener('click', function () {
                toggleDropdown(menuID)
            })

            menu.addEventListener('click', function (event) {
                event.stopPropagation();
            });

            // Close the dropdown if the user clicks outside it
            window.addEventListener('click',function (event) {
                if (!event.target.closest(`#${buttonID}`)) document.getElementById(menuID).classList.add('invisible');
            })
        }
    }
    </script>
</head>

<body class="bg-bg-default min-h-screen m-0  relative flex flex-col {% block body_class %}{% endblock %}">
{% block header %}
    {% include nav_tmpl|default:'navbar.html' %}
{% endblock %}

<div id="main" class="main-content flex flex-col flex-grow gap-y-12 overflow-x-hidden">

    {% block extra_content %}
        {% include_block page.extra_content %}
        <script type="text/javascript">
            [...document.getElementsByClassName("extra_content")].forEach(function (element) {
                if (!element.children.length) element.style.display = "none"
            })
        </script>
    {% endblock %}
    {% if not no_cat_description  and cat_description %}
        <div class="text-white flex w-11/12 mx-auto">
            <div class="text-white text-sm font-medium prose prose-invert min-w-fit mt-10">
            {{ cat_description|show_markdown|safe }}
            </div>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
{# Global javascript #}
<script src="{% static 'js/jquery.min.js' %}"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
        integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script src="{% static 'js/jquery.waypoints.js' %}"></script>
<script src="{% static 'js/infinite.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bfportal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/color_filter.js' %}"></script>
<script type="text/javascript">
    const showEvents = ['mouseenter', 'focus'];
    const hideEvents = ['mouseleave', 'blur'];
    let tooltip_btns = document.getElementsByClassName("tooltip_btn");

    [...tooltip_btns].forEach(function (elm) {
        const tooltip = document.getElementById(`${elm.getAttribute('for')}`);

        const popperInstance = Popper.createPopper(
            elm, tooltip, {
                placement: 'top',
                modifiers: [
                    {
                        name: 'offset',
                        options: {
                            offset: [0, 8],
                        },
                    },
                ]
            })

        function show() {
            tooltip.setAttribute('data-show', '');
            popperInstance.update();
        }

        function hide() {
            tooltip.removeAttribute('data-show');
        }

        showEvents.forEach((event) => {
            elm.addEventListener(event, show);
        });

        hideEvents.forEach((event) => {
            elm.addEventListener(event, hide);
        });
    })

    function add_to_liked(elem) {
        const id = elem.getAttribute("like_count_container");
        fetch(`/api/like/${id}/`).then(
            function (resp) {
                return resp.json()
            }
        ).then(function (data) {
            const fav_containers = document.querySelectorAll(`[fav_count_container='${id}']`),
                like_svgs = [...document.querySelectorAll(`[like_svg='${id}']`)]
            fav_containers.forEach(function (elem, index) {
                const like_svg = like_svgs[index]
                if (elem.textContent && data > elem.textContent) {
                    like_svg.src = "{% static 'svgs/card/heart_liked.svg' %}"
                } else {
                    like_svg.src = "{% static 'svgs/card/heart_not_liked.svg' %}"
                }
                elem.textContent = data
                if (elem.textContent === "0") {
                    elem.classList.remove("block")
                    elem.classList.add("hidden")
                } else {
                    elem.classList.add("block")
                    elem.classList.remove("hidden")
                }
            })
        })
    }
    fetch('https://discord.com/api/guilds/870246147455877181/widget.json').then(
        resp => {resp.json().then(json => {
            const elm = document.getElementById('discord-nav'),
                span = document.createElement('span'),
                totalCount = parseInt(json['presence_count']),
                duration = 5,
                countStep = Math.trunc((totalCount / duration)/50);

            let currCount = 0
            span.className = "text-xs text-bg-light"
            elm.appendChild(span)
            function increaseCount() {
                span.innerHTML = `&nbsp;&nbsp;${currCount} members online`
                if (totalCount >= currCount) {
                    currCount += countStep
                    setTimeout(increaseCount, duration)
                }

            }
            increaseCount()

        })}
    )
</script>
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
