{% extends 'base.html' %}
{% block extra_content %}
{% endblock %}
{% load static %}
{% block content %}
<div class="flex flex-col m-auto w-3/4 items-center gap-y-8">
    <img src="{% static 'images/spinner.gif' %}" alt=" " width="100">
    <p class="text-white text-xl font-extrabold">COMING SOON™</p>
    <input type="button" class="bg-bf2042-4 text-bf2042-1 font-bold hover:bg-bf2042-6 hover:cursor-pointer px-4 py-2 rounded transition duration-200 ease-in-out" value="Go Back" onclick="window.history.go(-1); return false;" />
</div>
{% endblock %}
