{% load static %}
<div class="footer {% if request.path != "/" %}sticky bottom-0{% endif %} mt-auto flex cursor-default flex-col w-full bg-card-bg justify-center align-middle text-center drop-shadow-lg py-2 mt-4">
    <div>
        <div class="flex flex-row gap-x-1 items-center justify-center text-white">
            <div class="flex flex-row gap-x-2 items-center">
                Made with
                <img src="{% static 'svgs/card/heart_liked.svg' %}" alt="" onmouseenter="handle_hover_for_footer_heart(this)">
                at
                <a href="https://bfportal.gg/join" target="_blank" class="text-bf2042-4 font-bold hover:text-bf2042-6 transition duration-200 ease-in-out">Battlefield Portal Community.</a>
            </div>
            <div class="flex flex-row gap-x-1 items-center">
            Support us on
            <a class="text-bf2042-4 font-bold hover:text-bf2042-6 transition duration-200 ease-in-out" href="https://www.patreon.com/battlefield_portal_community" target="_blank">
                <img src="{% static 'svgs/patreon.svg' %}" alt="" onmouseenter="handle_hover_for_footer_heart(this)">
            </a>
            </div>
            <div class="flex flex-row gap-x-1 items-center">
            Follow us on
            <a class="text-bf2042-4 font-bold hover:text-bf2042-6 transition duration-200 ease-in-out" href="https://twitter.com/BF2042_Portal/" target="_blank">
                <img src="{% static 'svgs/twitter.svg' %}" alt="" onmouseenter="handle_hover_for_footer_heart(this)">
            </a>
            </div>
            <div class="flex flex-row gap-x-1 items-center">
            Codebase at
            <a class="text-bf2042-4 font-bold hover:text-bf2042-6 transition duration-200 ease-in-out" href="https://github.com/battlefield-portal-community" target="_blank">
                <img src="{% static 'svgs/gh.svg' %}" alt="" onmouseenter="handle_hover_for_footer_heart(this)">
            </a>
            </div>


        </div>
    </div>
</div>
<script>
    function randomIntFromInterval(min, max) { // min and max included
        return Math.floor(Math.random() * (max - min + 1) + min)
    }
    function handle_hover_for_footer_heart(elm) {
        let res = new Solver(
            new Color(randomIntFromInterval(0,255),randomIntFromInterval(0,255),randomIntFromInterval(0,255))
        ).solve()
        elm.style = res.filter
    }
    function reset_color(elem){
        elem.style = ""
    }
</script>
