{% load static wagtailcore_tags socialaccount %}
{% with is_super_user=request.user.is_superuser %}
    {% if is_super_user %}
        <div class="sticky top-0 w-full z-[1] h-10 bg-bf2042-4 font-bold text-center py-2 "><p class="text-bf2042-1">
            LOGGED IN AS SUPERUSER : {{ request.user|upper }}</p></div>
    {% endif %}
    <nav id="navBar"
         class="sticky {% if is_super_user %} top-[2.5rem] {% else %} top-0 {% endif %} z-[1] bg-bg-default flex h-16 items-center w-full gap-x-12 px-8 py-4">
        <a href="/">
            <img class="fill-current h-8 w-48 mr-2" width="54" height="54"
                 src="{% static 'images/icon_portal_library_website.png' %}"
                 alt=""/>
        </a>
        <div class="flex flex-grow items-center">
            <!-- logo and left side -->
            <div class="hidden text-base md:flex-grow md:flex md:gap-x-8 content-center">
                <a href="https://docs.bfportal.gg/" target="_blank"
                   class="text-white font-bold hover:text-[#cccccc] transition duration-100 ease-in-out cursor-alias">
                    Docs
                </a>
                <a href="https://gametools.network/"
                   target="_blank"
                   class="cursor-alias text-white font-bold hover:text-[#cccccc] transition duration-100 ease-in-out">
                    Server Browser
                </a>
                {% if page.is_experience_page and  page.owner == request.user %}
                    <a href="edit/"
                       class="cursor-alias text-white font-bold hover:text-[#cccccc] transition duration-100 ease-in-out">
                        Edit Experience
                    </a>
                {% endif %}
                <a href="https://discord.gg/8un9qY5AvV"
                   target="_blank"
                   class="cursor-alias text-white font-bold hover:text-[#cccccc] transition duration-100 ease-in-out">
                    <p id="discord-nav">Discord</p>
                </a>

                {% include "core/blocks/searchbar.html" %}

                {% block extend_navbar %}

                {% endblock %}
            </div>
            <div class="hidden md:flex flex-grow justify-end items-center gap-x-8">
                <div>
                    <span id="disclaimer"
                          onclick="showPopUp('disclaimerPopUp')"
                          class="cursor-alias text-white font-bold hover:text-[#cccccc] transition duration-100 ease-in-out">Disclaimer</span>
                </div>
                {% if not no_login %}
                    <a href="/submit/"
                       class="cursor-pointer text-bf2042-4 font-bold hover:text-bf2042-3 transition duration-100 ease-in-out">
                        Submit Experience
                    </a>
                    <!-- when logged-in -->
                    {% if request.user.is_authenticated %}
                        {% get_social_accounts user as accounts %}
                        {% if accounts %}
                            {% with account=accounts.discord.0 %}
                                <div id="profileButton"
                                     class="profileButton relative group">
                                    <div class="w-7">
                                        {% if account.extra_data.avatar %}
                                            <img src="{{ account.get_avatar_url }}" class="block rounded-full w-full "
                                                 alt="@p"/>
                                        {% else %}
                                            <img src="{% static 'images/default_discord_avatar.png' %}"
                                                 class="inline rounded-full w-full" alt="@p"/>
                                        {% endif %}
                                    </div>
                                    <div id="accountNavBarDropdown"
                                         class="dropdown-content flex flex-col text-center text-md font-medium left-1/2 -translate-x-1/2 w-max rounded-lg absolute text-white invisible">
                                        <!--left-12 -->
                                        <div class="flex flex-row justify-center">
                                            <div class="w-0 h-0 border-x-8 border-b-8 border-solid border-transparent border-b-card-bg"></div>
                                        </div>
                                        <a class="text-white text-sm py-1 px-2 rounded-t bg-card-bg hover:bg-hover-bg-light transition ease-in-out duration-200"
                                           href="/users/{{ account.uid }}">Profile</a>
                                        <a class="text-white text-sm py-1 px-2 rounded-b bg-card-bg hover:bg-hover-bg-light transition ease-in-out duration-200"
                                           href="/logout">Logout</a>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        <!-- not logged-in -->
                        <a href="{% provider_login_url 'discord' process='login' %}"
                           class="flex flex-row items-center gap-x-8 text-white  font-bold hover:text-[#cccccc] transition duration-100 ease-in-out">login
                            <img class="p-2.5 py bg-bf2042-4 rounded-full" src="{% static 'svgs/discord_icon.svg' %}"
                                 alt="non">
                        </a>
                    {% endif %}
                {% endif %}
            </div>

            <!-- right side -->
            <!-- mobile nav pane -->
            <div class="grow md:hidden">
                <div id="menuIcon" class="group flex flex-col gap-y-1 ml-auto w-min cursor-pointer md:hidden">
                    <div class="w-4 h-0.5 rounded-lg bg-bf2042-4 group-hover:bg-bf2042-6 transition duration-200 ease-in-out"></div>
                    <div class="w-4 h-0.5 rounded-lg bg-bf2042-4 group-hover:bg-bf2042-6 transition duration-200 ease-in-out"></div>
                    <div class="w-4 h-0.5 rounded-lg bg-bf2042-4 group-hover:bg-bf2042-6 transition duration-200 ease-in-out"></div>
                </div>
                <div id="nav-bar-pane"
                     class="flex flex-col absolute bg-bg-default top-full right-0 backdrop-brightness-50 items-center md:hidden">
                    <div class="flex flex-col items-end  text-lg ml-4 mr-2 gap-y-2 mt-2">
                        <a href="/experiences/"
                           class="text-white hover:text-bf2042-5 transition duration-200 ease-in-out rounded-[0px] border-b-2 border-white">
                            Library
                        </a>
                        <a href="#"
                           class="text-white hover:text-bf2042-5 transition duration-200 ease-in-out rounded-[0px]  border-b-2 border-white">
                            Docs
                        </a>
                        <a href="/experiences/featured"
                           class="text-white hover:text-bf2042-5  transition duration-200 ease-in-out rounded-[0px] border-b-2 border-white">
                            Featured
                        </a>
                        {% if not no_login %}
                            <a href="/submit/"
                               class="lg:mt-0 text-white hover:text-bf2042-6 transition rounded-[0px] duration-200 ease-in-out border-b-2 border-white">
                                Submit Experience
                            </a>
                        {% endif %}
                        {% if page.is_experience_page and  page.owner == request.user %}
                            <a href="edit/"
                               class="text-white hover:text-bf2042-5 transition duration-200 ease-in-out rounded-[0px] border-b-2 border-white">
                                Edit Experience
                            </a>
                        {% endif %}
                        <a href="https://gametools.network/"
                           target="_blank"
                           class="cursor-alias lg:mt-0 text-white  hover:text-bf2042-6 transition rounded-[0px] duration-200 ease-in-out border-b-2 border-white">
                            Server Browser
                        </a>
                        <div id="disclaimer-mobile"
                            class="cursor-alias lg:mt-0 text-white  hover:text-bf2042-6 transition rounded-[0px] duration-200 ease-in-out border-b-2 border-white">
                            Disclaimer
                        </div>
                        {% if not no_login %}
                            {% if request.user.is_authenticated %}
                                {% get_social_accounts user as accounts %}
                                {% if accounts %}
                                    {% with account=accounts.discord.0 %}
                                        <a class="lg:mt-0 text-white hover:text-bf2042-6 transition rounded-[0px] duration-200 ease-in-out border-b-2 border-white"
                                           href="/users/{{ account.uid }}">Profile</a>
                                        <a class="lg:mt-0 text-white hover:text-bf2042-6 transition rounded-[0px] duration-200 ease-in-out border-b-2 border-white"
                                           href="/logout/">Logout</a>
                                    {% endwith %}
                                {% endif %}
                            {% else %}
                                <a href="{% provider_login_url 'discord' process='login' %}"
                                   class="lg:mt-0 text-white hover:text-bf2042-6 transition rounded-[0px] duration-200 ease-in-out border-b-2 border-white">Login</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="disclaimerPopUp"
         class="hidden popup fixed w-full text-sm md:w-1/2 lg:w-1/3 max-w-[620px] max-h-[20%] inset-0 m-auto bg-card-bg rounded z-[1] flex flex-col gap-y-2 p-4">
        <span class="text-xl text-bf2042-4 font-bold flex-grow">Disclaimer</span>
        <p class="text-justify text-white">
            This site was created under Electronic Arts’ Fansite Agreement using materials from Battlefield 2042.
            Trademarks are the property of their respective owners. Game materials copyright Electronic Arts
            Inc. and/or its licensors. Electronic Arts Inc. and its licensors have not otherwise endorsed and are
            not responsible for the operation of or content on this site
            <!-- After that we have to have some fun no ?
Q & A form jokes

Q: What do you call a smiling, courteous person at a bar association convention?
A: The caterer.

Q: What's the difference between a female lawyer and a pitbull?
A: Lipstick.

Q: What do you call a lawyer with an IQ of 100?
A: Your Honor.
Q: What do you call a lawyer with an IQ of 50
A: Senator.

Q: What's the difference between an accountant and a lawyer?
A: Accountants know they're boring.

Q: What's the one thing that never works when it's fixed?
A: A jury.

Q: Why did God invent lawyers?
A: So that real estate agents would have someone to look down on.

Q: What's the difference between a vacuum cleaner and a lawyer on a motorcycle?
A: The vacuum cleaner has the dirt bag on the inside.

Q: What' the difference between a lawyer and a boxing referee?
A: A boxing referee doesn't get paid more for a longer fight.

Q: What's the difference between a good lawyer and a bad lawyer?
A: A bad lawyer makes your case drag on for years. A good lawyer makes it last even longer.

Q: What's the difference between a jellyfish and a lawyer?
A: One's a spineless, poisonous blob. The other is a form of sea life.

Q: What's the difference between a lawyer and a trampoline?
A: You take off your shoes before you jump on a trampoline.

Q: What's the difference between a lawyer and a leech?
A: After you die, a leech stops sucking your blood.

Q: What's the difference between a lawyer and God?
A: God doesn't think he's a lawyer.

Q: How are an apple and a lawyer alike?
A: They both look good hanging from a tree.

Q: How can a pregnant woman tell that she's carrying a future lawyer?
A: She has an uncontrollable craving for bologna.

Q: How does an attorney sleep?
A: First he lies on one side, then he lies on the other.

Q: How many lawyer jokes are there?
A: Only three. The rest are true stories.

Q: How many lawyers does it take to screw in a light bulb?
A: Three, One to climb the ladder. One to shake it. And one to sue the ladder company.

Q: What are lawyers good for?
A: They make used car salesmen look good.

Q: What do dinosaurs and decent lawyers have in common?
A: They're both extinct.

Q: What do you call 25 attorneys buried up to their chins in cement?
A: Not enough cement.

Q: What do you call 25 skydiving lawyers?
A: Skeet.

Q: What do you call a lawyer gone bad.
A: Senator.

Q: What do you throw to a drowning lawyer?
A: His partners.

Q: What does a lawyer get when you give him Viagra?
A: Taller

Q: What's brown and looks really good on a lawyer?
A: A Doberman.

Q: What's the difference between a lawyer and a liar?
A: The pronunciation.

Q: What's the difference between a lawyer and a prostitute?
A: A prostitute will stop screwing you when you're dead.

Q: What's the difference between a lawyer and a vulture?
A: The lawyer gets frequent flyer miles.

Q: What's the difference between a mosquito and a lawyer?
A: One is a blood-sucking parasite, the other is an insect.

Q: Why did God make snakes just before lawyers?
A: To practice.

Q: What's the difference between a lawyer and a herd of buffalo?
A: The lawyer charges more.

Q: What's the difference between a tick and a lawyer?
A: The tick falls off when you are dead.

Q: What do you get when you cross a blonde and a lawyer?
A: I don't know. There are some things even a blonde won't do.

Q: Know how copper wire was invented?
A: Two lawyers were fighting over a penny.

Q: Why does the law society prohibit sex between lawyers and their clients?
A: To prevent clients from being billed twice for essentially the same service.

Q: What can a goose do, a duck can't, and a lawyer should?
A: Stick his bill up his ass.

Q: How can you tell when a lawyer is lying?
A: Their lips are moving.

Q: Why did New Jersey get all the toxic waste and California all the lawyers?
A: New Jersey got to pick first.

Q: Why don't lawyers go to the beach?
A: Cats keep trying to bury them.

Q: What do you call 5000 dead lawyers at the bottom of the ocean?
A: A good start!

Q: What's the difference between a dead skunk in the road and a dead lawyer in the road?
A: There are skid marks in front of the skunk.

Q: Why won't sharks attack lawyers?
A: Professional courtesy.

Q: What do have when a lawyer is buried up to his neck in sand?
A: Not enough sand.

Q: How do you get a lawyer out of a tree?
A: Cut the rope.

Q: Do you know how to save a drowning lawyer?
A: Take your foot off his head.

Q: What's the difference between a lawyer and a bucket of manure?
A: The bucket.

Q: What is the definition of a shame (as in "that's a shame")?
A: When a busload of lawyers goes off a cliff.

Q: What is the definition of a "crying shame"?
A: There was an empty seat.

Q: What do you get when you cross the Godfather with a lawyer?
A: An offer you can't understand

Q: Why is it that many lawyers have broken noses?
A: From chasing parked ambulances.

Q: Where can you find a good lawyer?
A: In the cemetery

Q: What's the difference between a lawyer and a gigolo?
A: A gigolo only screws one person at a time.

Q: What's the difference between a lawyer and a vampire?
A: A vampire only sucks blood at night.

Q: Why to lawyers wear neckties?
A: To keep the foreskin from crawling up their chins.

Q: What is the difference between a lawyer and a rooster?
A: When a rooster wakes up in the morning, its primal urge is to cluck defiance.

Q: How many law professors does it take to change a light bulb?
A: Hell, you need 250 just to lobby for the research grant.

Q: If you see a lawyer on a bicycle, why don't you swerve to hit him?
A: It might be your bicycle.

Q: What do you call a smiling, sober, courteous person at a bar association convention?
A: The caterer.

Q: Why do they bury lawyers under 20 feet of dirt?
A: Because deep down, they're really good people.

Q: Why are lawyers like nuclear weapons?
A: If one side has one, the other side has to get one. Once launched, they cannot be recalled. When they land, they screw up everything forever.

Q: What do lawyers and sperm have in common?
A: One in 3,000,000 has a chance of becoming a human being.
-->
        </p>
    </div>
{% endwith %}
